MTZKIT/obj/Debug MTZKIT/obj/MTZKIT.csproj.nuget.dgspec.json MTZKIT/obj/MTZKIT.csproj.nuget.g.props MTZKIT/obj/MTZKIT.csproj.nuget.g.targets MTZKIT/obj/project.assets.json MTZKIT/obj/project.nuget.cache
MTZKIT/bin/Debug
